/*  =========================
    Archive UI */

.archive-loop {
	> * + * {
		margin-top: 5rem;
	}

	&_shortly {
		display: grid;
		grid-template-columns: ~"calc(50% - 1.5rem)" ~"calc(50% - 1.5rem)";
		justify-content: space-between;
		margin-top: 3rem;
	}
}