/*  =========================
    Footer UI */

.cards {
	&-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-left: -3rem;
		margin-right: -3rem;
		margin-bottom: -2rem;

		.cards-list--item {
			max-width: 30rem;
			margin: 4rem 2.5rem 2rem;
			padding: 6rem 2.5rem;
			display: flex;
			position: relative;
			border: 1px solid @brand-back-medium;
			border-top: none;

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				border-top: 1px solid @brand-back-medium;
				width: ~'calc(50% - 6rem)';
			}

			&:before {
				left: 0;
			}

			&:after {
				right: 0;
			}

			&__icon {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&--content {
			display: flex;
			flex-direction: column;
			text-align: center;
			justify-content: space-around;
			align-items: center;

			> * + * {
				margin-top: 4rem;
			}
		}

		&--core {
			> * + * {
				margin-top: 1rem;
			}

			&__general {
				font-size: 3.6rem;
				font-family: @GothamProBold;
				color: black;
				line-height: 1.1;
				text-transform: uppercase;
				
			}

			&__sub {
				font-size: 2.4rem;
				font-family: @GothamProRegular;
				color: black;
				line-height: 1.3;
			}
		}

		&--details {
			> * + * {
				margin-top: .5rem;
			}

			&__general {
				font-size: 3.6rem;
				font-family: @GothamProBold;
				color: @brand-back-medium;
				line-height: 1.1;
			}

			&__sub {
				font-size: 1.85rem;
				font-family: @GothamProRegular;
				color: @text;
				line-height: 1.3;
			}

			a {
				color: @brand-back-medium;
			}
		}
	}
}