/*  =========================
    Heroarea UI */

.heroarea {
	background: url(../img/inner-page-title.png) center bottom repeat-x;
	.mx-box(6rem);

	@media (max-width: @padmini) {
		text-align: center;
	}

	&--title {
		display: inline-block;
	}
}