/*  =========================
    Image component UI */

.image-component {
	display: flex;
	align-items: center;

	&--img {
		max-width: 100%;
		height: auto;
	}

	&.align {
		&_center {
			justify-content: center;
			margin-left: auto;
			margin-right: auto;
		}

		&_left {
			justify-content: flex-start;
			margin-right: auto;

			@media (max-width: @pad) {
				margin-left: auto;
				margin-right: auto;
				justify-content: center;
			}
		}

		&_right {
			justify-content: flex-end;
			margin-left: auto;

			@media (max-width: @pad) {
				margin-left: auto;
				margin-right: auto;
				justify-content: center;
			}
		}
	}

	&.vertical {
		&_top {
			align-items: flex-start;

			@media (max-width: @pad) {
				margin-left: auto;
				margin-right: auto;
				align-items: center;
			}
		}

		&_bottom {
			align-items: flex-end;

			@media (max-width: @pad) {
				margin-left: auto;
				margin-right: auto;
				align-items: center;
			}
		}
	}
}