.page-navigation {
  .mx-box(2.5rem);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: rgb(69,193,216);
  background: linear-gradient(145deg, rgba(69,193,216,1) 0%,rgba(69,193,216,1) 40%,rgba(0,236,156,1) 60%,rgba(0,236,156,1) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45c1d8', endColorstr='#00ec9c',GradientType=1 );

  &.is-fixed {
    position: fixed;
    opacity: .9;
    .mx-box(1rem);

    &:hover {
      opacity: 1;
    }

    .page-navigation__item {
      padding: .3rem .9rem;
    }
  }

  &__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    margin: auto 2px;
    color: #0d3f3e;
    font-size: 1.5rem;
    font-weight: 300;
    padding: .7rem 1.2rem;
    border-radius: 30px;
    white-space: nowrap;

    &:not(.is-active) {
      .mx-link-underline;
    }

    &.is-active {
      background-color: rgba(255, 255, 255, 0.68);
    }
  }
}

.logged-in .page-navigation.is-fixed {
  top: 32px;
}