/*  =========================
    Single page UI */

.single-area {
	> * + * {
		margin-top: 5rem;
	}

	&--head {
		&__title {
			color: @brand-back;
			line-height: 1.2;
		}

		+ * {
			margin-top: 3.5rem;
		}
	}

	&--thumb {
		img {
			max-width: 100%;
			height: auto;
		}
	}

	&--sidebar {
		position: relative;
		width: 150px;

		@media (max-width: @padmini) {
			width: 100%;
		}

		.sidebar-widget ul {
			margin-bottom: 0;
		}
	}

	&--content {
		width: ~"calc(100% - 155px - 5rem)";
		flex-grow: 1;

		p {
			text-indent: 3rem;
		}
	}

	&--body {
		display: flex;
		flex-wrap: wrap;

		.section + *,
		* + .section {
			margin-top: 5rem;
		}

		> * + * {
			margin-left: 5rem;
		}
	}
}