/*  =========================
    Smooth UI */

main {
	position: relative;
	top: 0;
	opacity: 1;
	.mx-transition(.5s);
}

.single-area--sidebar {
  left: 0;
  .mx-transition(.5s);
}

.slide-out {
	main {
		top: 10rem;
		opacity: 0;
		.mx-transition(.5s);
	}

  .single-area--sidebar {
    left: -10rem;
    .mx-transition(.5s);
  }
}

/**
 * Spinner
 */
@spinner-color: @brand-base;

.is-loading .spinner-global {
  opacity: 1;
  .mx-transition(.3s);
}

.spinner-global {
  .mx-absolute-center;
  width: 60px;
  height: 60px;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  .mx-transition(.3s);

  .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: @spinner-color;
    border-radius: 100%;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  }

  .sk-circle2 { transform: rotate(30deg); }
  .sk-circle3 { transform: rotate(60deg); }
  .sk-circle4 { transform: rotate(90deg); }
  .sk-circle5 { transform: rotate(120deg); }
  .sk-circle6 { transform: rotate(150deg); }
  .sk-circle7 { transform: rotate(180deg); }
  .sk-circle8 { transform: rotate(210deg); }
  .sk-circle9 { transform: rotate(240deg); }
  .sk-circle10 { transform: rotate(270deg); }
  .sk-circle11 { transform: rotate(300deg); }
  .sk-circle12 { transform: rotate(330deg); }
  .sk-circle2:before { animation-delay: -1.1s; }
  .sk-circle3:before { animation-delay: -1s; }
  .sk-circle4:before { animation-delay: -0.9s; }
  .sk-circle5:before { animation-delay: -0.8s; }
  .sk-circle6:before { animation-delay: -0.7s; }
  .sk-circle7:before { animation-delay: -0.6s; }
  .sk-circle8:before { animation-delay: -0.5s; }
  .sk-circle9:before { animation-delay: -0.4s; }
  .sk-circle10:before { animation-delay: -0.3s; }
  .sk-circle11:before { animation-delay: -0.2s; }
  .sk-circle12:before { animation-delay: -0.1s; }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% { 
    transform: scale(0); 
  } 40% { 
    transform: scale(1); 
  }
}



