/*  =========================
    Video previews UI */

.video-previews {
	width: 100%;

	&__list {
		> * + * {
			margin-top: 7rem;

			@media (max-width: @mobile) {
				margin-top: 5rem;
			}
		}
	}

	&--item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		@media (max-width: @mobile) {
			max-width: 46rem;
			flex-direction: column;
			margin-left: auto;
			margin-right: auto;
			
		}

		&__meta,
		&__thumb {
			width: 46rem;

			@media (max-width: @mobile) {
				width: 100%;
			}
		}

		&__thumb {
			img {
				max-width: 100%;
				height: auto;
			}
		}

		&__meta {
			font-family: @GothamProBold;
			color: @brand-back;

			b,
			strong {
				color: @brand-back-medium;
			}
		}

		&:nth-child(odd) {
			.video-previews--item__meta {
				order: -1;
				margin-right: 13rem;

				@media (max-width: @pad) {
					margin-right: 3rem;
				}

				@media (max-width: @mobile) {
					margin: 3rem 0 0;
					order: 2;
				}
			}
		}

		&:nth-child(even) {
			.video-previews--item__meta {
				margin-left: 13rem;

				@media (max-width: @pad) {
					margin-left: 3rem;
				}

				@media (max-width: @mobile) {
					margin: 3rem 0 0;
				}
			}
		}
	}
}