/*  =========================
    Visualized list UI */

.visualized-list {
	list-style: none;
	padding-left: 6rem;
	margin: 0;

	&__box {
		.visualized-list__headline {
			&.offset {
				&_auto {
					padding-left: 6rem;
				}
			}
		}
	}

	&__headline {
		font-size: 3rem;
		line-height: 1.3;
		margin: 0;
		font-weight: 400;
	}

	&.offset {
		&_none {
			padding-left: 0;

			@media (max-width: @padmini) {
				padding-left: 3rem;
			}
		}
	}

	&.layout{
		&_auto {
			.visualized-list {
				&--item {
					margin-top: 1.3rem;
					margin-bottom: 1.3rem;
				}
			}
		}

		&_two-cols {
			display: grid;
			grid-template-columns: 50% 50%;

			> *:nth-child(odd) {
				padding-right: 4rem;
			}

			.visualized-list {
				&--item {
					&__textarea {
						font-size: 1.7rem;
					}
				}
			}

			@media (max-width: @mobile) {
				grid-template-columns: 100%;

				> *:nth-child(odd) {
					padding-right: 0;
				}
			}
		}
	}

	&.type {
		&_custom {
			.visualized-list {
				&--item {
					padding-right: 9rem;
					margin-top: 3.2rem;
					margin-bottom: 3.2rem;

					@media (max-width: @mobile) {
						padding-right: 0
					}

					&__icon {
					    width: 8rem;
					}
				}
			}
		}

		&_checkbox {
			@media (max-width: @mobile) {
				padding-left: 4rem; 
			}
		}
	}

	&--item {
		position: relative;
		line-height: 2.6rem;

		@media (max-width: @pad) {
			margin-top: .75rem;
			margin-bottom: .75rem;
		}

		&__icon {
		    width: 6rem;
		    position: absolute;
		    left: 0;
		    top: 1.3rem;
		    transform: translate(-100%, -50%);
		    min-height: 2.6rem;
		    display: flex;
		    justify-content: center;
		    align-items: center;

			img {
				display: flex;
				margin: auto;
			}
		}
	}

	&--sub {
		margin-top: .5em;
		list-style-type: disc;
		padding-left: 2rem;

		&__textarea {
			margin-top: .5rem;
		}
	}
}