/*  =========================
    Single page UI */

.whitepaper-area {
	> * + * {
		margin-top: 5rem;
	}

	@media (max-width: @padmini) {
		margin-left: -1rem;
		margin-right: -1rem;
	}

	&--head {
		&__title {
			color: @brand-back;
			line-height: 1.2;
		}

		+ * {
			margin-top: 3.5rem;
		}
	}

	&--thumb {
		img {
			max-width: 100%;
			height: auto;
		}
	}

	&--sidebar {
		position: relative;
		width: 150px;

		@media (max-width: @padmini) {
			width: 100%;
		}

		.sidebar-widget ul {
			margin-bottom: 0;
		}
	}

	&--body {
		display: flex;

		> * + * {
			margin-left: 3rem;
		}

		@media (max-width: @padmini) {
			flex-wrap: wrap;

			> * {
				margin-left: 1rem;
				margin-right: 1rem;
			}

			> * + * {
				margin: 2rem;
			}
		}
	}

	&--content {
		flex-grow: 1;

		p {
			text-indent: 3rem;
		}

		@media (max-width: @padmini) {
			order: 3;
			width: 100%;
		}
	}

	&--sidebar {
		min-width: 30rem;

		@media (max-width: @padmini) {
			width: ~"calc(50% - 2rem)";
			flex-grow: 1;
		}
	}

	&--thumb {
		min-width: 25rem;
		text-align: center;

		@media (max-width: @padmini) {
			width: ~"calc(50% - 4rem)";
			flex-grow: 1;
		}
	}
}