/*  =========================
    Row UI */

.rows {
	display: flex;
	flex-direction: column;
	z-index: 50;
}

.row {
	&--column {
		img {
			max-width: 100%;
			height: auto;
		}

		&.width {
			&_thin {
				> * {
					max-width: 46rem;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}

	&-type{
		&_cases {
			> .slick-list {
				width: 100%;
			}

			.row--column {
				display: flex;
				align-items: flex-start;
				justify-content: center;
				flex-wrap: wrap;
				width: 100%;

				> * + * {
					margin-left: 3rem;

					@media (max-width: @mobile) {
						margin-left: 0;
					}
				}

				.wysiwyg,
				.image-component {
					flex-grow: 1;
					width: ~"calc(50% - 1.5rem)";

					@media (max-width: @mobile) {
						width: 100%;
					}
				}

				.image-component {
					img {
						margin-left: auto;
						margin-right: auto;
					}
				}

				.slick-arrow {
					width: auto;
				}
			}
		}
	}

	&.cols {
		&_count {
			&_1 {
				.row--column {
					width: 100%;
				}
			}

			&_2 {
				.row--column {
					width: 50%;

					@media (max-width: @mobile) {
						width: 100%;
					}
				}
			}

			&_3 {
				.row--column {
					width: 33%;

					@media (max-width: @mobile) {
						width: 100%;
					}
				}
			}

			&_4 {
				.row--column {
					width: 25%;

					@media (max-width: @padmini) {
						width: 50%;
					}

					@media (max-width: @mobile) {
						width: 100%;
					}
				}
			}

			&_5 {
				.row--column {
					width: 20%;

					@media (max-width: @laptop) {
						width: 25%;
					}

					@media (max-width: @pad) {
						width: 33%;
					}

					@media (max-width: @padmini) {
						width: 50%;
					}

					@media (max-width: @mobile) {
						width: 100%;
					}
				}
			}

			&_6 {
				.row--column {
					width: 16.5%;

					@media (max-width: @laptop) {
						width: 20%;
					}

					@media (max-width: @pad) {
						width: 25%;
					}

					@media (max-width: @padmini) {
						width: 50%;
					}

					@media (max-width: @mobile) {
						width: 100%;
					}
				}
			}
		}

		&_margins {
			&_none {
				// Nothing
			}

			&_normal {
				padding-left: 1.5rem;
				padding-right: 1.5rem;

				.row--column {
					padding: 1.5rem;

					@media (max-width: @mobile) {
						padding: 1rem .5rem;
					}
				}
			}
		}

		&_placement {
			&_stretch {
				align-items: stretch;
				
				.slick-track {
					align-items: stretch;

					@media (max-width: @pad) {
						align-items: flex-start;
					}
				}
			}

			&_top {
				align-items: flex-start;
				
				.slick-track {
					align-items: flex-start;
				}
			}

			&_middle {
				align-items: center;
				
				.slick-track {
					align-items: center;

					@media (max-width: @pad) {
						align-items: flex-start;
					}
				}
			}

			&_bottom {
				align-items: flex-end;
				
				.slick-track {
					align-items: flex-end;

					@media (max-width: @pad) {
						align-items: flex-start;
					}
				}
			}
		}

		&_align {
			&_left {
				justify-content: flex-start;
			}

			&_center {
				justify-content: center;
			}

			&_right {
				justify-content: flex-end;
			}

			&_space-around {
				justify-content: space-around;
			}

			&_space-between {
				justify-content: space-between;
			}
		}

		&_ratio {
			&-33-66 {
				.row--column {
					&:nth-child(odd) {
						width: 33%;

						@media (max-width: @mobile) {
							width: 100%;
						}
					}

					&:nth-child(even) {
						width: 66%;

						@media (max-width: @mobile) {
							width: 100%;
						}
					}
				}
			}

			&-45-55 {
				.row--column {
					&:nth-child(odd) {
						width: 45%;

						@media (max-width: @mobile) {
							width: 100%;
						}
					}

					&:nth-child(even) {
						width: 55%;

						@media (max-width: @mobile) {
							width: 100%;
						}
					}
				}
			}

			&-40-60 {
				.row--column {
					&:nth-child(odd) {
						width: 40%;

						@media (max-width: @padmini) {
							width: 50%;
						}

						@media (max-width: @mobile) {
							width: 100%;
						}
					}

					&:nth-child(even) {
						width: 60%;

						@media (max-width: @padmini) {
							width: 50%;
						}

						@media (max-width: @mobile) {
							width: 100%;
						}
					}
				}
			}

			&-66-33 {
				.row--column {
					&:nth-child(even) {
						width: 33%;

						@media (max-width: @mobile) {
							width: 100%;
						}
					}

					&:nth-child(odd) {
						width: 66%;

						@media (max-width: @mobile) {
							width: 100%;
						}
					}
				}
			}

			&-55-45 {
				.row--column {
					&:nth-child(even) {
						width: 45%;

						@media (max-width: @padmini) {
							width: 50%;
						}

						@media (max-width: @mobile) {
							width: 100%;
						}
					}

					&:nth-child(odd) {
						width: 55%;

						@media (max-width: @padmini) {
							width: 50%;
						}

						@media (max-width: @mobile) {
							width: 100%;
						}
					}
				}
			}

			&-60-40 {
				.row--column {
					&:nth-child(even) {
						width: 40%;

						@media (max-width: @padmini) {
							width: 50%;
						}

						@media (max-width: @mobile) {
							width: 100%;
						}
					}

					&:nth-child(odd) {
						width: 60%;

						@media (max-width: @padmini) {
							width: 50%;
						}

						@media (max-width: @mobile) {
							width: 100%;
						}
					}
				}
			}
		}
	}

	&.layout {
		&_grid {
			display: flex;
			flex-wrap: wrap;
		}

		&_carousel {

		}
	}

	&.width {

		&_full {
			max-width: 100%;
		}

		&_four-five {
			max-width: 80%;

			@media (max-width: @padmini) {
				max-width: 100%;
			}
		}

		&_three-four {
			max-width: 75%;

			@media (max-width: @laptop) {
				max-width: 80%;
			}

			@media (max-width: @padmini) {
				max-width: 100%;
			}
		}

		&_one-two {
			max-width: 50%;

			@media (max-width: @laptop) {
				max-width: 60%;
			}

			@media (max-width: @pad) {
				max-width: 75%;
			}

			@media (max-width: @padmini) {
				max-width: 100%;
			}
		}
	}

	&.position {
		&_left {
			margin-right: auto;
		}

		&_center {	
			margin-left: auto;
			margin-right: auto;
		}

		&_right {
			margin-left: auto;
		}
	}
}


.slick {
	&-track {
		display: flex;
		margin-left: auto;
		margin-right: auto;
	}

	&-dots {
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 0;
		margin-right: 0;
		margin-top: 1rem;

		li {
			margin: 0 2px;

			&.slick-active {
				button {
					background-color: @brand-back;
				}
			}
		}

		button {
		    color: transparent;
		    border: none;
		    position: relative;
		    overflow: hidden;
		    border-radius: 50%;
		    width: 10px;
		    line-height: 4px;
		    display: inline-block;
		    padding: 3px;
		    background-color: lighten(@brand-back, 50%);
		    cursor: pointer;
		    min-width: auto;
		    .mx-transition();

		    &:hover {
		    	opacity: .55;
				transform: scale(.9);
		    }
		}
	}

	&-arrow {
		background-color: transparent;
		border: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 50;
		cursor: pointer;
	}

	&-next {
		right: -3rem;

		@media (max-width:@pad) {
			display: none;
		}
	}

	&-prev {
		left: -3rem;

		@media (max-width:@pad) {
			display: none;
		}
	}
}