/*  =========================
    section UI */

.section {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;

	&.paddings {
		&_small {
			.mx-box(5rem);
		}

		&_middle {
			.mx-box(8rem);

			@media (max-width: @mobile) {
				.mx-box(5rem);
			}
		}

		&_large {
			.mx-box(11rem);

			@media (max-width: @pad) {
				.mx-box(8rem);
			}

			@media (max-width: @mobile) {
				.mx-box(5rem);
			}
		}
	}

	&.color {
		&_light {
			background-color: #fff;
		}

		&_dark {
			background-color: @brand-back;
			color: #fff;
		}
	}

	&.layout {
		&_sidebar {
			display: grid;
			grid-template-columns: 71rem ~"calc(100% - 71rem - 3rem)";
			justify-content: space-between;

			@media (max-width: @desktop) {
				width: 100%;
				max-width: 100%;
				grid-template-columns: 71rem 30rem;
				justify-content: center;
			}

			@media (max-width: @pad) {
				grid-template-columns: 100%;
			}

			> * + * {
				margin-left: 3rem;

				@media (max-width: @pad) {
					display: none;
				}
			}
		}
	}
}