/*  =========================
    Sidebar UI */

.sidebar {
	> * + * {
		margin-top: 3rem;
	}

	&-widget {
		font-family: @GothamProRegular;
		color: @brand-back;

		ul {
			list-style: none;
			padding: 0;

			> * + * {
				margin-top: .5rem;
			}

			li {
				font-size: 1.7rem;
			}

			a {
				color: @color-gray-text;
				font-family: @GothamProLight;

				&.is-active {
					font-family: @GothamProMedium;
					color: @brand-back-medium;
					pointer-events: none;
				}

				&:not(.is-active):hover {
					color: @brand-base;
				}
			}
		}

		&__meta {
			color: @color-gray-text;
			font-size: 1.4rem;

			a {
				color: @brand-back-medium;
				
				&:hover {
					color: @brand-base;
				}
			}

			> * + * {
				margin-top: 2rem;
			}

			@media (max-width: @pad) {
				display: flex;
				align-items: center;

				img {
					max-width: 10rem;
					height: auto;
				}

				> * + * {
					margin-left: 2rem;
					margin-top: 0;
				}
			}
		}

		&__author--thumb img {
			height: 15rem;
			width: 15rem;
		}
	}
}