</main>

<footer role="contentinfo">
    <div class="box">
        <div class="footer__group">
            <div class="footer__row">

                <div class="footer__col">
                    <a href="#." class="footer__item mx-link-underline">About us</a>
                    <a href="#." class="footer__item mx-link-underline">Solutions</a>
                    <a href="#." class="footer__item mx-link-underline">Awards</a>
                </div>

                <div class="footer__col">
                    <a href="#." class="footer__item mx-link-underline">Partners</a>
                    <a href="#." class="footer__item mx-link-underline">Contacts</a>
                    <a href="#." class="footer__item mx-link-underline">Blog</a>
                </div>

            </div>

            <div class="footer__row">

                <div class="footer__col">
                    <a href="#." class="footer__item mx-link-underline">How it works</a>
                    <a href="#." class="footer__item mx-link-underline">Hosting issues</a>
                    <a href="#." class="footer__item mx-link-underline">Pricing</a>
                </div>

                <div class="footer__col">
                    <a href="#." class="footer__item mx-link-underline">Terms & Conditions</a>
                    <a href="#." class="footer__item mx-link-underline">Licensing Policy</a>
                    <a href="#." class="footer__item mx-link-underline">Privacy Policy</a>
                </div>

            </div>
        </div>
        <div class="footer__copyright">
            <span class="footer__link">2015-17 © SDK.finance. Legal</span>
            <span style="margin-right: 5px;">|</span>
            <a href="#." class="footer__link mx-link-underline">Privacy policy</a>
            <span style="margin-right: 5px;">|</span>
            <a href="#." class="footer__link mx-link-underline">Site map</a>
        </div>
    </div>
</footer>
