/*  =========================
    Footer UI */

.footer {
  &-primary {
    background-color: @brand-back;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    @media (max-width: @mobile) {
      padding: 2rem 0;
    }

    &__box {
      > * + * {
        margin-top: 5rem;

        @media (max-width: @mobile) {
          margin-top: 1.5rem;
        }
      }
    }

    &__group {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: -2rem;
      margin-bottom: -2rem;
    }

    &__col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 25%;
      min-width: 14rem;
      padding-right: 1rem;
      flex-grow: 1;
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-size: 1.9rem;
      font-weight: 300;
      color: #fff;

      li + li {
        margin-top: 1rem;
      }
    }

    &__copyright {
      font-size: 1.8rem;
      font-weight: 300;
      color: @brand-back-medium;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;

      @media (max-width: @mobile) {
        font-size: 1.2rem;
      }

      > :first-child {
        margin-right: 1rem;
      }

      ul {
        display: flex;
        flex-wrap: wrap;

        > *:not(:last-child) {
          &:after {
            content: '|';
            margin: 0 1rem;
          }
        }
      }  
    }

    a {
      color: inherit;

      &:hover {
        color: @brand-base;
      }
    }
  }
}