/*  =========================
    Header UI */

.header {
	&-primary {
		background-color: @brand-back;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 100;
		.mx-transition();

		&.position_overlay {
			background-color: transparent;
		}

		&.fixed {
			position: fixed;
		}

		&:not(.position_overlay) {
			+ main {
				margin-top: 9.5rem;

				@media (max-width: @pad) {
					margin-top: 54px;
				}

				@media (max-width: @mobile) {
					margin-top: 47px;
				}
			}	
		}

		&__box {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.mx-box(2.5rem);
			.mx-transition();
				
			@media (max-width: @pad) {
				.mx-box(1.5rem);
			}
		}

		&--logo {
			padding-bottom: .8rem;

			img {
				max-width: 100%;
				height: auto;
			}
			
			@media (max-width: @pad) {
				margin-right: auto;
				width: 14rem;
			}
		}

		&--menu {
			margin: 0 auto;

			ul {
				display: flex;
				align-items: baseline;
				list-style: none;
				padding: 0;
				margin: 0;

				> * + * {
					margin-left: 6rem;
				}
			}

			li {
				font-size: 1.8rem;
				text-transform: uppercase;
				font-weight: 300;
				font-family: @GothamProLight;
				color: #fff;
			}

			a {
				color: #fff;
				.mx-link-underline();

				&:hover {
					color: @brand-base;
				}
			}
			
			@media (max-width: @pad) {
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				z-index: 200;
				background: @brand-back;
				padding: 3rem;

				ul {
					flex-direction: column;

					> li + li {
						margin-left: 0;
						margin-top: 1rem;
					}
				}

				li {
					font-size: 20px;
				}
			}
		}

		&--search {

			a {
				color: #fff;
				text-decoration: none;

				&:hover {
					color: @brand-base;
				}
			}
		}

		&--actions {
			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				> * + * {
					margin-left: 3rem;
				}
			}

			a {
				.button();
				min-width: auto;
				
				@media (max-width: @pad) {
					font-size: 1.5rem;
					margin-left: 1.5rem;
				}
			}
		}

		&--burger {
			display: none;
			margin-left: 3rem;
			
			@media (max-width: @pad) {
				margin-left: 1.5rem;
				display: inline-block;
				.mx-burger(@color-hover: @brand-base, @height: 2.5rem);
			}
		}

		&.js-scroll {
			background-color: @brand-back;

			.header-primary {
				&__box {
					.mx-box(1rem);
						
					@media (max-width: @pad) {
						.mx-box(1rem);
					}
				}
			}
		}

		&.js-hide {
			transform: translateY(-100%;)
		}
	}
}

.logged-in .header-primary {
	top: 32px;
}