<div class="box" style="margin-top: 5rem;">
	<div class="cards-list">
		<div class="cards-list--item">
			<img class="cards-list--item__icon" src="//placehold.it/30x30" alt="">
			<div class="cards-list--content">
				<div class="cards-list--core">
					<div class="cards-list--core__general">Basic</div>
					<div class="cards-list--core__sub">server’s<br />configuration</div>
				</div>

				<div class="cards-list--details">
					<div class="cards-list--details__general">1 000 000</div>
					<div class="cards-list--details__sub">transactions per month</div>
				</div>
			</div>
		</div>
		<div class="cards-list--item">
			<img class="cards-list--item__icon" src="//placehold.it/30x30" alt="">
			<div class="cards-list--content">
				<div class="cards-list--core">
					<div class="cards-list--core__general">Basic</div>
					<div class="cards-list--core__sub">server’s<br />configuration</div>
				</div>

				<div class="cards-list--details">
					<div class="cards-list--details__general">1 000 000</div>
					<div class="cards-list--details__sub">transactions per month</div>
				</div>
			</div>
		</div>
		<div class="cards-list--item">
			<img class="cards-list--item__icon" src="//placehold.it/30x30" alt="">
			<div class="cards-list--content">
				<div class="cards-list--core">
					<div class="cards-list--core__general">Basic</div>
					<div class="cards-list--core__sub">server’s<br />configuration</div>
				</div>

				<div class="cards-list--details">
					<div class="cards-list--details__general">1 000 000</div>
					<div class="cards-list--details__sub">transactions per month</div>
				</div>
			</div>
		</div>
	</div>
</div>