<div class="box" style="margin: 10px auto;">
    <div class="logos-gallery-technologies" style="max-width: 605px; background: #255251;">
        <div class="logos-gallery-technologies__item"><img src="/assets/img/icons/logos/java-ee.png" alt=""></div>
        <div class="logos-gallery-technologies__item"><img src="/assets/img/icons/logos/ejb.png" alt=""></div>
        <div class="logos-gallery-technologies__item"><img src="/assets/img/icons/logos/jsf.png" alt=""></div>
        <div class="logos-gallery-technologies__item"><img src="/assets/img/icons/logos/angular-logo.png" alt=""></div>
        <div class="logos-gallery-technologies__item"><img src="/assets/img/icons/logos/swagger-logo-white.png" alt=""></div>
        <div class="logos-gallery-technologies__item"><img src="/assets/img/icons/logos/oracle.png" alt=""></div>
        <div class="logos-gallery-technologies__item"><img src="/assets/img/icons/logos/mongodb-logo.png" alt=""></div>
        <div class="logos-gallery-technologies__item"><img src="/assets/img/icons/logos/postgre.png" alt=""></div>
        <div class="logos-gallery-technologies__item"></div>
        <div class="logos-gallery-technologies__item"><img src="/assets/img/icons/logos/amazonwebservices.png" alt=""></div>
        <div class="logos-gallery-technologies__item"><img src="/assets/img/icons/logos/bluemix.png" alt=""></div>
        <div class="logos-gallery-technologies__item"><img src="/assets/img/icons/logos/ms-azure.png" alt=""></div>
        <div class="logos-gallery-technologies__item"><img src="/assets/img/icons/logos/oracle-cloud.png" alt=""></div>
    </div>
</div>