<div class="box" style="margin: 10px auto;">
    <div class="logos-gallery" style="max-width: 495px; background: #255251;">
        <div class="logos-gallery__item"><img src="/assets/img/icons/logos/visa.png" alt=""></div>
        <div class="logos-gallery__item"><img src="/assets/img/icons/logos/mastercard.png" alt=""></div>
        <div class="logos-gallery__item"><img src="/assets/img/icons/logos/paypal.png" alt=""></div>
        <div class="logos-gallery__item"><img src="/assets/img/icons/logos/sepa.png" alt=""></div>
        <div class="logos-gallery__item"><img src="/assets/img/icons/logos/bitcoin.png" alt=""></div>
        <div class="logos-gallery__item"><img src="/assets/img/icons/logos/2oo--methods.png" alt=""></div>
    </div>
</div>