<div class="page-navigation">
    <a href="#." class="page-navigation__item is-active mx-link-underline">Functionality</a>
    <a href="#." class="page-navigation__item mx-link-underline">Scalability</a>
    <a href="#." class="page-navigation__item mx-link-underline">Business cases</a>
    <a href="#." class="page-navigation__item mx-link-underline">PSD2</a>
    <a href="#." class="page-navigation__item mx-link-underline">Blockchain</a>
    <a href="#." class="page-navigation__item mx-link-underline">Payment gateway</a>
    <a href="#." class="page-navigation__item mx-link-underline">Mobile</a>
    <a href="#." class="page-navigation__item mx-link-underline">Integrations</a>
    <a href="#." class="page-navigation__item mx-link-underline">Quality</a>
    <a href="#." class="page-navigation__item mx-link-underline">Price</a>
    <a href="#." class="page-navigation__item mx-link-underline">Timeline</a>
</div>
