<div class="box" style="margin: 10px auto;">
	<div class="video-previews">
		<div class="video-previews__list">
			<div class="video-previews--item">
				<div class="video-previews--item__thumb">
					<img src="http://placehold.it/460x260" alt="" />
				</div>
				<div class="video-previews--item__meta wysiwyg">
					<h6><b>130+ REST-full API</b> allows you to design a front-end for clients that you dream about</h6>
					<p class="button">Functionality available throw </p>
				</div>
			</div>
			<div class="video-previews--item">
				<div class="video-previews--item__thumb">
					<img src="http://placehold.it/460x260" alt="" />
				</div>
				<div class="video-previews--item__meta wysiwyg">
					<h6><b>130+ REST-full API</b> allows you to design a front-end for clients that you dream about</h6>
					<p class="button">Functionality available throw </p>
				</div>
			</div>
		</div>
	</div>
</div>