/*  =========================
    Accordion */


.accordion {
    > * + * {
        margin-top: 5rem;
    }

    &--title {
        &__link {
            font-family: @GothamProBold;
            color: @brand-back;
            font-size: 2.7rem;
            position: relative;
            padding-left: 47px;
            display: inline-block;

            &:hover {
                color: @brand-back-medium;
            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 1px solid @brand-back-medium;
            }

            &:after {
                content: attr(data-icon);
                position: absolute;
                left: 12px;
                top: 12px;
                transform: translate(-50%, -50%);
                font-family: @GothamProLight;
                color: @brand-back-medium;
                font-size: 19px;
                line-height: 1;
            }
        }
    }

    &--content {
        margin-left: ~"calc(((100vw - 100%) / 2) * -1)";
        margin-right: ~"calc(((100vw - 100%) / 2) * -1)";
        display: none;

        &__inner {
            background-color: @brand-back-light;
            margin-top: 3rem;
            .mx-box(4rem);
        }

        &__box {
            padding-left: 9rem;

            @media (max-width: @padmini) {
                padding-left: 4.5rem;
            }
        }
    }

    &-post {

    }
}