/*  =========================
    Article UI */

.article {
	max-width: 710px;
	margin-left: auto;
	margin-right: auto;

	> * + * {
		margin-top: 2.5rem;
	}

	&--thumb {
		display: inline-block;
		line-height: 1;
		.mx-thumb-hover;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	&--footer {
		.button {
			min-width: 17px;
		}

		@media (max-width: @padmini) {
			text-align: center;

			.button {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&--meta {
		> * + * {
			margin-top: 1rem;
		}

		&__title {
			font-family: @GothamProBold;
			color: @brand-back;

			&:hover {
				color: @brand-back-medium;
			}
		}

		&__info {
			color: @color-gray-text;

			a {
				color: @brand-back-medium;
				
				&:hover {
					color: @brand-base;
				}
			}
		}
	}

	// rewrite styles for specific layouts
	&.layout {
		&_shortly {
			margin-left: 0;
			margin-right: 0;

			.article {
				&--meta {
					&__title {
						@media (max-width: @mobile) {
							font-size: 11px;
						}
					}

					&__info {
						@media (max-width: @mobile) {
							font-size: 11px;
						}
					}
				}
			}
		}
	}
}