/*  =========================
    WP Gallery UI */

.gallery {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;

    img {
        margin: 0 auto;
        width: 100%;
    }

	&-columns {
		&-2 {
			.gallery-item {
				width: 49%;

				@media (max-width: @mobile) {
			        width: 100%;
				}
			}
		} 

		&-3 {
			.gallery-item {
				width: 32%;

				@media (max-width: @mobile) {
			        width: 100%;
				}
			}
		} 

		&-4 {
			.gallery-item {
				width: 24%;

				@media (max-width: @padmini) {
			        width: 49%;
				}

				@media (max-width: @mobile) {
			        width: 100%;
				}
			}
		} 

		&-5 {
			.gallery-item {
				width: 19%;
			}
		} 

		&-6 {
			.gallery-item {
				width: 15%;

				@media (max-width: @padmini) {
			        width: 49%;
				}

				@media (max-width: @mobile) {
			        width: 100%;
				}
			}
		} 

		&-7 {
			.gallery-item {
				width: 13%;
			}
		} 

		&-8 {
			.gallery-item {
				width: 11%;

				@media (max-width: @pad) {
			        width: 24%;
				}

				@media (max-width: @padmini) {
			        width: 49%;
				}

				@media (max-width: @mobile) {
			        width: 100%;
				}
			}
		} 

		&-9 {
			.gallery-item {
				width: 10%;

				@media (max-width: @pad) {
			        width: 24%;
				}

				@media (max-width: @padmini) {
			        width: 49%;
				}

				@media (max-width: @mobile) {
			        width: 100%;
				}
			}
		} 
	}

	&-caption {
	    display: block;
	}
}