/*  =========================
    WYSIWYG */


.wysiwyg {


    > h1 + *,
    > h2 + *,
    > h3 + *,
    > h4 + *,
    > h5 + *,
    > h6 + * {
        margin-top: 2rem;
    }



    > * + h1,
    > * + h2,
    > * + h3,
    > * + h4,
    > * + h5,
    > * + h6,
    > * + hr,
    > hr + * {
        margin-top: 3rem;
    }



    > * + div,
    > div + *,
    > div + div {
        margin-top: 2rem;
    }

    > * + form,
    > form + *,
    > form + form {
        margin-top: 4rem;
    }


    > p:not(:empty) + p,
    > p:not(:empty) + ul,
    > ul + p, 
    > ol + p,
    > p:not(:empty) + ol,
    > ol+ ul,
    > ul + ol {
        margin-top: 1.5rem;
    }

    a {
        color: @brand-back-medium;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    > ul > * + * {
        margin-top: 1rem;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    b, strong {
        font-family: @GothamProBold;
        color: @brand-back;
    }

    .margin {
        &-top {
            &_5px {
                margin-top: .5rem;
            }
        }
    }
}